<div>
    <div class="left">
        <h1>Home</h1>
        <h2>points: {{homepoints}}</h2>
        <button class="add-button" id="homescore" (click)="homescore()"><b>Add score</b></button>

    </div>
    <div class="right">
        <h1>Guest</h1>
        <h2>points: {{guestpoints}}</h2>
        <button class="add-button" id="guestscore" (click)="guestscore()"><b>Add score</b></button>
    </div>
    <button class="add-button" id="resetscore" (click)="resetscore()"><b>Reset score</b></button>
</div>