<div class="content">
    <label>User</label>
    <div>
        <select class="select-button" [(ngModel)]="selectedUser">
            <option *ngFor="let user of users" [value]="user.id" [selected]="selectedUser.id == user.id">{{user.name}}
            </option>
        </select>
    </div>

    <label>Book</label>
    <div>
        <select class="select-button" [(ngModel)]="selectedBook">
            <option *ngFor="let book of books" [value]="book.id" [selected]="selectedBook.id == book.id">{{book.name}}
            </option>
        </select>
    </div>

    <label>Select Books</label>
    <div>
        <ul class="listbox">
            <li *ngFor="let book of books; let i = index" (click)="selectBook(i)">
                {{book.name}}
            </li>
        </ul>
    </div>
</div>